[*.cs]

# IDE0063: 単純な 'using' ステートメントを使用する
csharp_prefer_simple_using_statement = false

# IDE0017: オブジェクトの初期化を簡略化します
dotnet_style_object_initializer = false

# IDE0054: 複合代入を使用
dotnet_style_prefer_compound_assignment = false

# IDE0060: 未使用のパラメーターを削除します
dotnet_code_quality_unused_parameters = non_public

# from https://ufcpp.net/blog/2022/1/naming-style/
dotnet_naming_rule.private_or_internal_field_should_be_begin_with__.severity = suggestion
dotnet_naming_rule.private_or_internal_field_should_be_begin_with__.symbols = private_or_internal_field
dotnet_naming_rule.private_or_internal_field_should_be_begin_with__.style = begin_with__
dotnet_naming_symbols.private_or_internal_field.applicable_kinds = field
dotnet_naming_symbols.private_or_internal_field.applicable_accessibilities = internal, private
dotnet_naming_symbols.private_or_internal_field.required_modifiers = 
dotnet_naming_style.begin_with__.required_prefix = _
dotnet_naming_style.begin_with__.required_suffix = 
dotnet_naming_style.begin_with__.word_separator = 
dotnet_naming_style.begin_with__.capitalization = camel_case

# カルチャー依存 API の未指定をエラーにする 
#dotnet_diagnostic.CA1304.severity = error
#dotnet_diagnostic.CA1305.severity = error
#dotnet_diagnostic.CA1307.severity = error
#dotnet_diagnostic.CA1310.severity = error
