<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
    <add key="PackageType" value="Dev" />
    <add key="SelfContained" value="False" />
    <add key="Watermark" value="True"/>
		<add key="UseLocalApplicationData" value="False" />
		<add key="Revision" value="12345678" />
    <add key="DateVersion" value="0000" />
    <add key="BuildVersion" value="0" />
    <!-- PDF Renderer = Pdfium or WinRT -->
    <!--
		<add key="PdfRenderer" value="Pdfium" />
    -->
    <!-- Export development log -->
    <!--
		<add key="LogFile" value="TraceLog.txt" />
    -->
    <!-- For version check development -->
    <!--
    <add key="CheckVersion" value="36.2" />
    <add key="DistributionUrl" value="https://neelabo.bitbucket.io/NeeViewUpdateCheck.html" />
    -->
	</appSettings>
</configuration>
