<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="PackageType" value=".dev" />
    <add key="Watermark" value="True"/>
		<add key="UseLocalApplicationData" value="False" />
		<add key="Revision" value="12345678" />
    <add key="DateVersion" value="0000" />
    <!-- PDF Renderer = Pdfium or WinRT -->
    <!--
		<add key="PdfRenderer" value="Pdfium" />
    -->
    <!-- Export development log -->
    <!--
		<add key="LogFile" value="TraceLog.txt" />
    -->
	</appSettings>
</configuration>
